doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        title Twitter App
        link(rel="stylesheet", type="text/css", href=`../${cssBundle}`)
        meta(name='viewport', content='width=device-width, initial-scale=1')
    body
        .container
            // send GET req on /tweets route
            form(action="/tweets", method="get", id="twitter_form")
                // name required for req.query not to be empty - getting the query object from the form
                label(for="twitter")
                    input#twitter(type="search", name="q" placeholder="Search tweets...")
                label(for="count")
                    select#count(type="select" name="count" class="form-control")
                        option(value=2) 2
                        option(value=20) 20
            button(type="submit", form="twitter_form", value="submit") submit

            // error handling - server side
            if(error)
                h1 There was an error
                h2=error

            // undefined here so user must search for tweets - no query params
            if !tweetList
                h1="search for tweets"

            else if tweetList.length <= 0
                h1="not tweets founds :("

            else
                .div.row
                    each tweet in tweetList
                        p=tweet.created_at

        footer
            script(src=`../${vendorBundle}`, type="text/javascript")
            script(src=`../${jsBundle}`, type="text/javascript")
